{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
Формирование заказа
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<p>Здесь вы можете оформить заявку на наши услуги онлайн. Для этого выберите необходимое количество, если требуется и нажмите добавить в заявку. В процессе оформления можно будет конкретизировать Ваши требования в форме, которая будет шаге непосредственного оформления заявки.</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header text-center">
				Проверьте Вашу заявку
			</div>
			<div class="card-body">
				{% for item in cart %}

				{% with product=item.product %}
				<p class="fw-bold">{{product.title}}</p>
				<p>Количество: {{item.quantity}} - 
				Стоимость: {{item.price}} - 
				Сумма: {{item.total_price}}</p>
				<hr>
				{% endwith %}

				{% endfor %}
			</div>
			<div class="card-footer text-body-secondary text-center">
				{% with total_items=cart|length %}
				{% if total_items > 0 %}
				Общая сумма: {{cart.get_total_price}} руб.
				{% else %}
				Пусто. В заявке ничего нет. Добавьте услуги.
				{% endif %}
				{% endwith %}				
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header text-center">
				Заполните форму ниже
			</div>
			<div class="card-body">
				<form action="{% url 'orders:order_create' %}" method='post'>
					{% bootstrap_form form %}
					{% csrf_token %}
					{% bootstrap_button button_type="submit" content="Оформить заявку и перейти к оплате" %}
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}